{% extends "base.html" %}

{% block head %}
{% style "/easyui/themes/default/easyui.css" %}
{% style "/easyui/themes/icon.css" %}
{% style "/easyui/themes/color.css" %}
{% endblock %}

{% block content %}
<div class="table-responsive table-sm">
  <table class="table w-auto">
    <caption style="caption-side: top;">{{ title }}</caption>
    <thead class="thead-dark">
      <tr>
        <th scope="col">FECHA</th>
        <th scope="col">RECIBIDO</th>
        <th scope="col">PROVEDOR</th>
      </tr>
    </thead>
    <tbody>
      {% for prow in prows %}
      <tr>
        <th colspan=4>{{ prow.producto_id }}</th>
      </tr>
        {% for row in rows %}
        {% ifequal prow.producto_id row.producto_id %}
        <tr>
          <td>{{ row.compra_fecha }}</td>
          <td align="right">{{ row.num_recibido }}</td>
          <td>{{ row.provedor_id }}</td>
        </tr>
        {% endifequal %}
        {% endfor %}
        {% for trow in trows %}
        {% ifequal prow.producto_id trow.producto_id %}
        <tr class="table-secondary">
          <td>Total:</td>
          <td align="right">{{ trow.total }}</td>
          <td></td>
        </tr>
        {% endifequal %}
        {% endfor %}
        <tr><td colspan=3>&nbsp;</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block scripts %}
{% script "/easyui/jquery.easyui.min.js" %}
{% script "/easyui/plugins/jquery.datagrid.js" %}
{% script "/easyui/datagrid-detailview.js" %}
{% script "/js/jquery.maskedinput.min.js" %}
{% script "/easyui/locale/easyui-lang-es.js" %}
{% endblock %}
