{% extends "base.html" %}

{% block head %}
{% style "/easyui/themes/default/easyui.css" %}
{% style "/easyui/themes/icon.css" %}
{% style "/easyui/themes/color.css" %}
{% endblock %}

{% block content %}
{% csrf-field %}
<table id="dg"
  class="easyui-datagrid datagrid-searchable"
  style="width: 100%"
  title="{{ title }}"
  data-options="
  url: '/compras/json/grid',
  toolbar: '#toolbar',
  queryParams: {'__anti-forgery-token':token},
  pagination: true,
  rownumbers: true,
  nowrap: true,
  autoRowHeight: false,
  fitColumns: true,
  autoSizeColumn: true,
  singleSelect: true">
  <thead>
    <tr>
      <th data-options="field: 'compra_fecha', sortable: true">Fecha</th>
      <th data-options="field: 'producto_id', sortable: true">Producto</th>
      <th data-options="field: 'num_recibido', sortable: true, align:'right'"># Recibido</th>
      <th data-options="field: 'provedor_id', sortable: true">Provedor</th>
    </tr>
  </thead>
</table>
<div id="toolbar">
    <a href="javascript:void(0)"
       class="easyui-linkbutton"
       data-options="iconCls: 'icon-add',plain: true"
       onclick="defaultGridNewItem()">Crear</a>
    <a href="javascript:void(0)"
       class="easyui-linkbutton"
       data-options="iconCls: 'icon-edit',plain: true"
       onclick="defaultGridEditItem({})">Editar</a>
    <a href="javascript:void(0)"
       class="easyui-linkbutton"
       data-options="iconCls: 'icon-remove',plain: true"
       onclick="defaultGridDeleteItem()">Remover</a>
    <div style="float: right">
        <input class="easyui-textbox" id="datagrid-searchbox" data-options="prompt: 'Busqueda'" title="Buscar">
    </div>
</div>
<div class="easyui-dialog dlg" data-options="closed:true,buttons:'#dlg-buttons'" style="padding:5px;width:70%;">
  <form class="fm" method="POST" enctype="multipart/form-data" novalidate>
    <input type="hidden" id="id" name="id">
    
    <div class="form-group col-11">
      <label for="producto_id">Producto:</label>
      <input id="producto_id" name="producto_id" class="form-control easyui-combobox" data-options="required:true,method:'GET',url:'/table_ref/get_productos'">
    </div>

    <div class="form-group col-11">
      <label for="compra_fecha">Fecha:</label>
      <input id="compra_fecha" name="compra_fecha" class="form-control easyui-datebox" data-options="required:true">
    </div>

    <div class="form-group col-11">
      <label for="num_recibido"># Recibido:</label>
      <input id="num_recibido" name="num_recibido" class="form-control easyui-numberbox" data-options="required:true,min:0,precision:0">
    </div>

    <div class="form-group col-11">
      <label for="provedor_id">Provedor</label>
      <input id="provedor_id" name="provedor_id" class="form-control easyui-combobox" data-options="required:true,method:'GET',url:'/table_ref/get_provedores'">
    </div>
  </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)"
       class="easyui-linkbutton"
       data-options="iconCls: 'icon-ok'"
       onclick="defaultGridSaveItem()">Postear</a>
    <a href="javascript:void(0)"
       class="easyui-linkbutton"
       data-options="iconCls: 'icon-cancel'"
       onclick="defaultGridDialogClose()">Cancelar</a>
</div>
{% endblock %}

{% block scripts %}
{% script "/easyui/jquery.easyui.min.js" %}
{% script "/easyui/plugins/jquery.datagrid.js" %}
{% script "/easyui/datagrid-detailview.js" %}
{% script "/js/jquery.maskedinput.min.js" %}
{% script "/easyui/locale/easyui-lang-es.js" %}
<script type="text/javascript" src="/js/defaultGrid.js"></script>
{% endblock %}
