<div class="table-responsive">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col" colspan=4>Compras</th>
      </tr>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Producto</th>
        <th scope="col">Numero Recibido</th>
        <th scope="col">Provedor</th>
      </tr>
    </thead>
    <tbody>
      {% for row in compras-rows %}
      <tr>
        <td>{{ row.compra_fecha }}</td>
        <td>{{ row.p_etiqueta }}</td>
        <td align="center">{{ row.num_recibido }}</td>
        <td>{{ row.provedor }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<br/>
<div class="table-responsive">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col" colspan=6>Ordenes</th>
      </tr>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Producto</th>
        <th scope="col"># Enviado</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido Paterno</th>
        <th scope="col">Apellido Materno</th>
      </tr>
    </thead>
    <tbody>
      {% for row in ordenes-rows %}
      <tr>
        <td>{{ row.orden_fecha }}</td>
        <td>{{ row.p_etiqueta }}</td>
        <td align="center">{{ row.enviado_numero }}</td>
        <td>{{ row.nombre }}</td>
        <td>{{ row.apell_paterno }}</td>
        <td>{{ row.apell_materno }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
