{% extends "base.html" %}
{% block head %}
{% style "/easyui/themes/default/easyui.css" %}
{% style "/easyui/themes/icon.css" %}
{% style "/easyui/themes/color.css" %}
<style>
ul.barcode {
  list-style-type: none;
}
ul.barcode li > div {
  text-align: center;
  float: left;
  margin: 30px;
  max-width: 300px;
  margin-bottom: 15px;
}
</style>
{% endblock %}

{% block content %}
{% for item in data %}
<ul class="barcode">
  <li>
    <div>
      <img src = "{{ item.id }}">
      </br>
      {{ item.p_etiqueta}}
    </div>
  </li>
</ul>
{% endfor %}
{% endblock %}
